@model SAT.DATA.EF.Models.ScheduledClassStatus

@{
    ViewData["Title"] = "Edit " + Model.Scsname;
}

<div class="choose_section layout_padding">
    <div class="container text-center">
        <h1 class="choose_taital">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Scsid" />
            <div class="form-group">
                <label asp-for="Scsname" class="control-label"></label>
                <input asp-for="Scsname" class="form-control" />
                <span asp-validation-for="Scsname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-secondary mx-4" asp-action="Index">Back to Class Statuses</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
