@{
    ViewData["Title"] = "Home Page";
}


<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital_main">
                    <h1 class="about_taital">Galactic Academy</h1>
                    <p class="about_text">
                        At the Galactic Academy for Jedi Training, we believe in the power of knowledge, wisdom, and compassion. Our curriculum blends ancient Jedi teachings with modern educational methodologies, ensuring our graduates are not only skilled in the ways of the Force but also equipped to inspire and empower students from all walks of life.
                    </p>
                    <div class="readmore_bt"><a href=@Url.Action("Index", "Courses")>Our Courses</a></div>
                </div>
            </div>
            <div class="col-md-6" style="padding-right: 10em;">
                <div><img src="~/images/School.jpeg" class="about_img"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->

