@model SAT.DATA.EF.Models.StudentStatus

@{
    ViewData["Title"] = "Create New Student Status";
}

<div class="choose_section layout_padding">
    <div class="container text-center">
        <h1 class="choose_taital">Create New Student Status</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ssname" class="control-label"></label>
                <input asp-for="Ssname" class="form-control" />
                <span asp-validation-for="Ssname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ssdescription" class="control-label"></label>
                <input asp-for="Ssdescription" class="form-control" />
                <span asp-validation-for="Ssdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary mx-4" asp-action="Index">Back to Student Statuses</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
